<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    {% block media_css %}{% endblock %}
</head>
<body>
  <div class="container wrap">
    <div class="span12 navbar navbar-inverse">
          <div class="top_nav span9">
            <ul class="nav">
                <span class="logo">
                <img style="background-color: gray;"
                    src="/static/img/logo.png">
                </a></span>
              <li><a class="sobre" href="/">Memoria Digital Escuela de Arquitectura</a></li>
              <li><a class="bajo" href="/">Inicio</a></li>
              <li><a class="bajo" href="#about">Sobre</a></li>
              <li><a class="bajo" href="/contacto/">Contacto</a></li>
            </ul>
          </div>
          {% if form.errors %}
            <p>Datos invalidos, intenta denuevo.</p>
          {% endif %}
          <ul class="log">
              <li>
                  {% load url from future %}
                  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                  {% csrf_token %}
                  <div class="input-prepend input-append">
                    <input class="btn log_btn" type="submit" value="Login"></input>
                    <input id="appendedPrependedInput" placeholder="Usuario" type="text" name="username" maxlength="30" />
                    <input type="password" placeholder="Contraseña" name="password" id="appendedPrependedInput" />
                 </div>
                 <input type="hidden" name="next" value="/admin/" />
                 </form>
              </li>
          </ul>
    </div>
    <div class="container span10">
            <div class="span7">
                {% block content %}{% endblock %}
            </div><!-- end photos -->
            <div class="span2">
                  <ul class="nav nav-list">
                    <li class="nav-header">Buscador</li>
                    <li>
                        <form method="post" action="/busqueda/">
                        {% csrf_token %}
                        <div class="input-prepend input-append">
                        <button class="btn" type="submit"><i class="icon-search"></i></button>
                        <input name="buscado" id="appendedPrependedInput"
                        placeholder="Buscar..." type="text">
                        </div>
                        </form>
                    </li>
                     {% if not pop_tags %}
                        <li><small>No hay Etiquetas</small></li>
                    {% endif %}
                    <li><a style="font-size:14px;" href="/tags/">Imagenes</a></li>
                    <li>
                        <div id="imgsCanvasContainer">
                            <canvas width="170" height="210" id="imgCanvas">
                                <p>ada</p>
                            </canvas>
                        </div>
                    </li>
                </ul>
                    <div id="tags">
                    <ul>
                    {% for t in pop_tags %}
                        <li><a href="/tags/{{t}}"><i class="icon-camera"></i>{{ t }}
                        </a></li>
                    {% endfor %}
                    </ul>
                    </div>
                    <ul class="nav nav-list">
                    <li><a style="font-size:14px;" href="/documentos/">Documentos</a></li>
                    {% if not pop_docs %}
                        <li><small>No hay documentos</small></li>
                    {% endif %}
                    <li>
                        <div id="docsCanvasContainer">
                            <canvas width="170" height="210" id="docCanvas">
                                <p>ada</p>
                            </canvas>
                        </div>
                    </li>
                    <div id="docs">
                    <ul>
                    {% for d in pop_docs %}
                        <li><a href="/documentos/{{d.entry_slug}}"><i class="icon-folder-open"></i>{{ d.entry_title }}</a></li>
                    {% endfor %}
                    </ul>
                  </ul>

        </div>
        <div class="row">
            <small class="derechos span7">
                &copy; Escuela de Arquitectura Universidad del Bío-Bío, Avda Collao #1202, Concepción fono:41-2731328 escarqui@ubiobio.cl
            </small>
        </div>
</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if(!$('#imgCanvas').tagcanvas({
          textColour: 'gray',
          outlineColour: '#000',
          reverse: true,
          depth: 0.005,
          radiusX: 2 ,
          offsetX: 25,
          maxSpeed: 0.02
        },'tags')) {
          // something went wrong, hide the canvas container
          $('#imgsCanvasContainer').hide();
        }
        if(!$('#docCanvas').tagcanvas({
          textColour: 'gray',
          outlineColour: '#ff00ff',
          reverse: true,
          depth: 0.005,
          radiusX: 2 ,
          offsetX: 25,
          maxSpeed: 0.02
        },'docs')) {
          // something went wrong, hide the canvas container
          $('#docsCanvasContainer').hide();
        }

      });
    </script>
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/jquery.tagcanvas.js"></script>
    {% block media_js %}{% endblock %}
</body>
</html>
