.log{
    margin-right: 60px;
    margin-left: 0px;

    li{
        margin-left: 0px;
        margin-right: 252px;
        padding-bottom: 6px;
        width: 160px;
        float: right;
        list-style-type: none;
    }

    input{
        width: 75px;
    }

    .log_btn{
        height: 30px;
    }

    form{
        position: relative;
        top: -30px;
        left: 45px;
        float: right;
        margin-bottom: 0px;
    }
}

.thumbnail{
    a:hover{
        text-decoration: none;
    }

    h5{
        margin: 0px 0px;
        padding: 5px 5px;
        border: 1px solid #ddd;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    div{
        small{
            display: block;
            padding: 0px;
            height: 16px;
            margin: 0px;
            color: #0088CC;
            background: -moz-linear-gradient(top, rgba(178,178,178,0.4) 0%, rgba(178,178,178,0.4) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,178,178,0.4)), color-stop(100%,rgba(178,178,178,0.4))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(178,178,178,0.4) 0%,rgba(178,178,178,0.4) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(178,178,178,0.4) 0%,rgba(178,178,178,0.4) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(178,178,178,0.4) 0%,rgba(178,178,178,0.4) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(178,178,178,0.4) 0%,rgba(178,178,178,0.4) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2b2b2', endColorstr='#66b2b2b2',GradientType=0 ); /* IE6-9 */
        }
    }
}

.thumbnails{
    margin-left: auto;
    margin-right: auto;

    ul{
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    li{
        display: inline;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.latest{
    margin: 0px 0px;
    padding: 0px;
}

.latest .destacado{
    margin-left: 0px;
}

footer{
    padding-left: 25px;
}

.footercol{
    display: block;
    width: 220px;
    float: left;
    padding: 5px;
}

.logo{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

.barra_navegacion{
    margin-left: 5px;
}

.lateral{
    position: relative;
}

.wrap{
    max-width: 960px;
}

.derechos{
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #E10000;
}

.sobre{
    position: relative;
    font-size: 18px;
    margin-right: 25px;
    top:0px;
    left: -5px;
}

.bajo{
    position: relative;
    top:25px;
    left: 10px;
}

.navbar-inverse .nav .active > a:hover{
    background-color: red;
}

form input{
    width: 115px;
}

li .nav-header:hover{
    text-decoration: none;
}

.navbar .nav{
    margin-left: -15px;
}

.navbar .nav > li {
    padding: 35px 0px 0px 5px;
}

.navbar .brand{
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.login{
    margin-left: 155px;
    width: 125px;
}

.top_nav{
    border-bottom: 1px solid #66b2b2;
}

.destacado{
    width: 660px;
    height: 450px;
    margin: 10px;
    margin-left: 30px;
}
