.latest{
    margin: 0px 0px;
    padding: 0px;
}

.latest .destacado{
    margin-left: 0px;
}

footer{
    padding-left: 25px;
}

.footercol{
    display: block;
    width: 220px;
    float: left;
    padding: 5px;
}

.logo{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

.barra_navegacion{
    margin-left: 5px;
}

.lateral{
    position: relative;
}

.wrap{
    max-width: 960px;
}

.derechos{
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #E10000;
}

.sobre{
    position: relative;
    font-size: 18px;
    margin-right: 25px;
    top:0px;
    left: -5px;
}

.bajo{
    position: relative;
    top:25px;
    left: 10px;
}

.navbar-inverse .nav .active > a:hover{
    background-color: red;
}

form input{
    width: 115px;
}

li .nav-header:hover{
    text-decoration: none;
}

.navbar .nav{
    margin-left: -15px;
}

.navbar .nav > li {
    padding: 35px 0px 0px 5px;
}

.navbar .brand{
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.login{
    margin-left: 155px;
    width: 125px;
}

.top_nav{
    border-bottom: 1px solid #66b2b2;
}

.destacado{
    width: 660px;
    height: 450px;
    margin: 10px;
    margin-left: 30px;
}
