{% extends "base.html" %}

{% block title %}Escuela de Arquitectura - Universidad del Bío-Bio{% endblock %}

{% block content %}

          <div class="latest">
            <img class="destacado" src="/static/img/mainphoto.jpg">
            <h3 class="nav-header">Ultimas Publicaciones</h3>

            <ul class="thumbnails row">
                {% for imagen in ultimas %}
                <li>
                    <div class="thumbnail span1">
                        <a href="/imagenes/{% filter lower %}{{ imagen.entry_slug }}{% endfilter %}">
                                <img src="{{ imagen.site_thumb }}" alt="">
                        </a>
                    </div>
                </li>
                    {% if forloop.counter0 == 5 %}
                        </ul>
                        <ul class="thumbnails row">
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
{% endblock %}
