{% extends 'base.html' %}

{% block content %}
<p>
    {% if not single %}
        <div class="alert alert-info">
            No hay resultados para la busqueda.
        </div>
    {% else %}
        <h1>{{ single.entry_title }}</h1>
        <img src="/media/{{single.entry_imagen}}">
        <p><h6>Descripción:</h6>
            {{single.entry_desc}}
        </p>
        <p>
            <h6>Tags:</h6>
            {% for tag in tags %}
                <a href="/tags/{{tag}}"><span class="label">{{tag}}</span></a>
            {% endfor%}
        </p>
    {% endif %}

</p>
{% endblock %}
